* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  .ant-btn[type="submit"] {
    background: rgb(0, 187, 0) !important;
  }
}

.ant-btn:hover {
  color: rgb(0, 187, 0) !important;
  border-color: rgb(0, 187, 0) !important;
}

.ant-table-wrapper .ant-table-thead > tr > th {
  background: rgba(223, 246, 223, 0.786) !important;
}

.ant-table-cell::before {
  background-color: grey !important;
}
